<div class="ui grid">
  <div class="ui row" id="to-do-contents">
    <div class="ui one wide column"></div>
    <div class="ui two wide column">Book</div>
    <div class="ui two wide column">Page</div>
    <div class="ui five wide column">Notes</div>
    <div class="ui two wide column">Vickie</div>
    <div class="ui two wide column">
      <div class="ui labeled red compact icon button" id="refresh">
        <i class="refresh icon"></i>
        Refresh
      </div>
    </div>
  </div>

  <%= yield %>

</div>

<script type="text/javascript">
$('div #refresh').click(function() {
  // --debug-- console.log("click triggered");
  $('.tabular.menu .item').tab('change tab', '<%= @refresh_tab %>');
});
</script>
